body {
    padding-top: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

input[type="text"],
textarea {
    background-color: #dee9ec;
}

textarea {
    background-color: #dee9ec;
}

.text-responsive {
    font-size: calc(16px + 0.4vw)
}

.container {
    padding-left: 2rem;
    padding-right: 2rem;
}

div.card-body {
    padding-top: 0%;
}
