<%- include('./partials/header.ejs') %>
<div class="ui main text container segment">
    <div class="ui huge header">
        New Post
        <form action="/blogs" method="post">
        <input type="text" name="blog[title]" value="<%= title %>" >
            <input type="text" name="blog[image]" placeholder="image" >
            <input type="text" name="blog[body]" value="<%= body %>" >
            <input type="submit">
        </form>
    </div>
</div>
<%- include("./partials/footer.ejs") %>
