<%- include("partials/header") %>
    <!-- <h1><%= title %></h1>
    <p>Welcome to x <%= title %></p> -->
    <a href="/gallery">
        <img class="img-fluid" alt="Gallery" src="../images/Selectie.jpg">
    </a>
<%- include("partials/footer") %>
