.ui.basic.justified {
    font-size: 1.1rem;
    text-align: justify;
    text-indent: 3rem;
}

.container.main {
    margin-top: 3.0em;
}
.ui.message{
    font-size: 0.8rem;
}
p {
    text-indent: 3rem;
    line-height: inherit;
}
.ui.animated.right{
 color: #0d7bdc;
    font-size: inherit;
}

button.delete{
    color: yellow;
    background: indianred;
}
.ui.column.grid{
    padding: 0,0,0,0;
    margin: 0,0,0,0;
}
.floated.ui.column{
    margin: 0,0,0,0;
    padding: 0,0,0,0;
    margin-bottom: 0px;
}