<!DOCTYPE html>
<html>
  <head>
    <title><%= friendsTOejs %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Welcome to <%= friendsTOejs %></h1>
    <% friendsTOejs.forEach(function(item){ %>
      <li><%= item %></li>
    <%})%>
    <form action="/friends/addfriend" method="POST">
      <input type="text" name="namefriend" placeholder="name">
      <button type="submit">I madse a friend</button>
    </form>
  </body>
</html>
