<!DOCTYPE html>
<html lang="en">
  <head>
        <title><%= title %></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='icon' href='/images/favicon.ico' class='js-favicon'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <hr>
<body>

<!--     <div class="container">
        <nav class="navbar navbar-expand-sm navbar-light fixed-top bg-light">
            <div>
                <a class="navbar-brand" data-toggle="tooltip" data-placement="bottom" title="Return to Land Page" href="/"><img src="../images/home-24px.svg" width="40" height="40" alt=""></a>
                <a class="navbar-brand" data-toggle="tooltip" data-placement="bottom" title="See all Images" href="/wellgrounds"><img src="../images/dashboard-24px.svg" width="40" height="40"></a>
                <a class="navbar-brand" data-toggle="tooltip" data-placement="bottom" title="Enter a new Image" href="/wellgrounds/new"><img src="../images/add_box-24px.svg" width="40" height="40"></a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                    <ul class="navbar-nav row">
                        <li><a class="nav-link" href="#">Login</a></li>
                        <li><a class="nav-link" href="#">SignUP</a></li>
                        <li><a class="nav-link" href="#">Logout</a></li>
                    </ul>
            </div>
        </nav>
    </div> -->