body {
  text-align: center;
  background-color: black;
  font-family: 'Open Sans', sans-serif;
}
#banner {
  background-color: rgb(46, 121, 190);
  color: white;
  text-shadow: 0px 0px 4px black;
  letter-spacing: 4px;
}
h1 {
  line-height: 0rem;
}
.title {
  line-height: 1.5rem;
}
#bannerLine {
  background-color: white;
  letter-spacing: 2px;
}
.line {
  width: 400px;
  margin: 0 auto;
  display: flex;
  place-content: space-between;
}
.line div {
  width: 32%;
  color: rgb(37, 49, 158);
  text-shadow: 0px 0px 0px black;
  font-weight: bold;
  /* border-radius: 0.3rem; */
}

#hard {
  margin: 0.7rem;
}

.table {
  width: 400px;
  margin: 0 auto;
}
tr {
  width: 30%;
  align-content: center;
}

td {
  width: 30%;
  height: 5rem;
  border-radius: 1rem;
}
.hide {
  display: none;
}
