/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans Regular';
  /* font-style: normal;
  font-weight: 400; */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('fonts/open-sans-v17-latin-regular.ttf') format('truetype'), 
       url('fonts/open-sans-v17-latin-regular.woff2') format('woff2'), 
       url('fonts/open-sans-v17-latin-regular.woff') format('woff'); 
}

body {
  text-align: center;
  background-color: black;
  font-family: 'Open Sans Regular';
}
#banner {
  color: white;
  text-shadow: 0px 0px 4px black;
  /* letter-spacing: 1.1%;  */
  background-color:#317EFB;
}
.title {
  line-height: 1.5rem;
  font-size: 1rem;
}

#bannerLine {
  background-color: white;
  }
.line {
  margin: 0 auto;
  display: flex;
  place-content: space-between;
}
.line div {
  width: 32%;
  text-shadow: 0px 0px 0px black;
  font-weight: bold;
}
#hard {
  margin: 0.7rem;
}
.table {
  /* width: 90%;
  height: 60%; */
  margin: 0 auto;
}
td {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.gameType {
  background-color:#317EFB;
  color: white;
}
.normalLineElement {
  background-color: white;
  color: #317EFB;
}
.hide {
  display: none;
}
