body {
  text-align: center;
}

.line {
display: flex;  
}
.line div {
  width: 32%;
  border: 1px solid black;
}
#rows {
  background-color: black;
}

.table {
  width: 100%;
}

tr {
  width: 30%;
  align-content: center;
}

td {
  width: 30%;
  height: 5rem;
  border-radius: 1rem;
}
.hide{
  display: none;
}