<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<body>

<div class="ui top fixed inverted menu">
    <div class="ui container">
        <div class="header item">
            <img class="ui spaced image" src="/images/favicon.ico" alt="favicon">
            <span>Blog Site</span>
        </div>
        <a class="item" href="/">
            Home
        </a>
        <a class="item" href="/blogs/new">
            New Post
        </a>
    </div>
</div>

